<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/client-add']"><mat-icon>add</mat-icon></a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" 
           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome do Cliente</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>


      <ng-container matColumnDef="typeClient">
        <th mat-header-cell *matHeaderCellDef>Tipo de Cliente</th>
        <td mat-cell *matCellDef="let row">{{row.typeClient}}</td>
      </ng-container>


      <ng-container matColumnDef="creditLimit">
        <th mat-header-cell *matHeaderCellDef>Limite de Credito</th>
        <td mat-cell *matCellDef="let row">{{row.creditLimit}}</td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/client-add/']"></tr>
    </table>
  </div>
</div>