<div class="example-container mat-elevation-z8">

  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/clients']"><mat-icon>home</mat-icon>
</a>
  </div>
  <mat-card >
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome do Cliente" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Nome</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Limite de Credito" formControlName="creditLimit"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('creditLimit').valid && productForm.get('creditLimit').touched">Limite de Credito</span>
        </mat-error>
      </mat-form-field>


     <mat-form-field>
        <mat-label>Tipo de Cliente</mat-label>
        <select matNativeControl required formControlName="typeClient">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>

        </select>
      </mat-form-field>


      <div class="button-row">
        <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>